* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  background-image: url(https://c1.wallpaperflare.com/path/565/385/156/sunset-brook-green-meadow-june-df867360f0bed19da26bbb3838498c8f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0px 16px;
  margin: auto;
  width: 1320px;
  height: 100vh;
}

.card {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  gap: 12px;
}

.todoClass {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  gap: 12px;
}

.inProgClass {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  gap: 12px;
}

.stuckClass {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  gap: 12px;
}

.doneClass {
  display: flex;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  gap: 12px;
}

.allcard {
  background-color: #ebecf0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;
  height: fit-content;
  flex: 1;
  flex-basis: 0;
}

.cards {
  display: flex;
  gap: 16px;
  padding: 120px;
}

.boardHeader {
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
}

.addBtn {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.addBoard {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.away {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  resize: none;
  height: 100px;
}

select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.helperText {
  display: none;
  color: red;
  font-size: 12px;
  padding: 4px 12px;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  margin-top: 24px;
}

.error + .helperText {
  display: block !important;
}

.list {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.done {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 10px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addedPriority {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.count {
  color: rgba(0, 0, 0, 0.5);
}
