* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
  margin-top: 300px;
}

.smallCont {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.inputBox {
  width: 80px;
  border: 1px solid black;
}

button {
  padding: 10px;
}
