* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  width: 904px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  margin-top: 25px;
}

.box {
  width: 300px;
  height: 299px;
  border: 1px solid grey;
}

.button {
  padding: 30px;
  width: 300px;
  font-size: 30px;
  margin-top: 100px;
}
