* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.listCont {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallContList {
  display: flex;
  gap: 2px;
}

.input2 {
  border: none;
  background-color: #fff;
}
